<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcu.munozviolin.navigationdrawer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Caso1" />
        <activity android:name=".Caso2" />
        <activity android:name=".Caso3" />
        <activity android:name=".Caso4" />
        <activity android:name=".Caso5" />
        <activity android:name=".Caso6" />
        <activity android:name=".Caso7" />
        <activity android:name=".Caso8" />
        <activity android:name=".Caso9" />
        <activity android:name=".Caso10" />
        <activity android:name=".Caso11" />
        <activity android:name=".Caso12" />
        <activity android:name=".Caso13" />
        <activity android:name=".Caso14" />
        <activity android:name=".Caso15" />
        <activity android:name=".Caso16" />
        <activity android:name=".Caso17"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>